<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/8745/8745230.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>

    <title>Add A Location</title>
    <link
      rel="stylesheet"
      href="/static/addlocation.css"
    />
  </head>
  <body>
    <header>
      <a href="/"><button>Home</button></a>
      <a href="/mapView"><button>View Map</button></a>
    </header>
    <div id="autoButtonDiv">
      <button id="tacker-button" onclick="autoButton()">Auto Tracker off/ON</button>
      <button id="delete-button" onclick="deleteSpots()">Remove My Spots</button>
    </div>
    <div id="map"></div>
    <div id="counter-div">
      <span id="spot-counter-span"></span>
    </div>
    <div id="icon-div">
      <p class="icon-p">Step 1 👇<span>(Pick an icon)</span></p>
      <img src="https://cdn-icons-png.flaticon.com/128/6433/6433176.png" id="candy-icon" class="icon-select" onclick="iconSelect(this.id)">
      <img src="https://cdn-icons-png.flaticon.com/128/1235/1235127.png" id="hat-icon" class="icon-select"  onclick="iconSelect(this.id)">
      <img src="https://cdn-icons-png.flaticon.com/128/685/685842.png" id="pumpkin-icon" class="icon-select"  onclick="iconSelect(this.id)">
      <img src="https://cdn-icons-png.flaticon.com/128/218/218200.png" id="witch-icon" class="icon-select"  onclick="iconSelect(this.id)">
      <img src="https://cdn-icons-png.flaticon.com/128/238/238296.png" id="blob-icon" class="icon-select"  onclick="iconSelect(this.id)">
    </div>
    <div id="location-buttons-div">
      <p class="label-p">Step 2 👉 <button id="save-location-button" class="location-button-class" onclick="saveLocation()">Save My Spot</button><span>(click)</span></p>
    </div>
    <p id="status-p">Status: <span id="status-span">Waiting on location - click 'Find My Location' or zoom and touch a location </span></p>

    <script src="/static/addLocation.js"></script>
  </body>
</html>
