<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/8745/8745230.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halloween Spotter</title>
    <link
      rel="stylesheet"
      href="/static/home.css"
    />
  </head>
  <body>
    <header>
      <h1>🎃 Halloween 🍬 <br />Trick and Treat Spotter</h1>
    </header>
    <div id="nav-button-div">
      <a href="/location"><button>Add a Location</button></a>
      <a href="/mapView"><button>View the Map</button></a>
    </div>
  </body>
</html>
